<mat-toolbar>
  
  <span class="example-spacer"></span>  
  <button mat-button routerLink="login" *ngIf="!user">Login</button>  
  

  <button mat-button *ngIf="user" [matMenuTriggerFor]="menu">{{user.fullname}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item  routerLink="dashboard" *ngIf="user">Create Group</button>
    <button mat-menu-item  routerLink="history" *ngIf="user">History</button>
    <button mat-menu-item (click)="logout()" *ngIf="user">Logout <mat-icon>logout</mat-icon></button>
  </mat-menu>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>
