/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
    background-color: #fcd6d6;
    margin: 0; 
    padding: 0;
    background-image: url("/assets/background.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 30%;
  }